{% extends "base.html" %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<div class="text-container">
  <h1><span class="text-underline"> About </span></h1>
  <p>
    a web music player with an easily configurable CMS. Built using
    Flask/HowerJs/SQLite. It has uploading, publishing, and deleting
    capabilities. Authentication is handled using Flask Login.
  </p>
  <p class="link">
    <a href="https://github.com/abmamo/music"><i class="fa fa-github-square fa-2x"></i></a>
  </p>
</div>
{% endblock %}