{% extends "base.html" %} {% block head %} {{ super() }} {% endblock %} {% block
content %}
<div class="text-container">
  <h1><span class="text-underline"> About</span></h1>
  <p>
    a music player with a content management system. It is built using
    Flask/JavaScript/HTML/SQL. It utilizes SQLAclehmy in conjunction with a
    SQLite database to manage songs. It has uploading, publishing and deleting
    capabilities. Auuthentication is handled through Flask Login in conjunction
    with SQLite.
  </p>
</div>
{% endblock %}
