{% extends "base.html" %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
{% endblock %} {% block content %}
<div class="container song-container">
  <div class="row">
    {% for song in songs %}
    <div class="col s12m4l4">
      <div class="song-card">
        <div class="container">
          <div class="row">
            <div class="col s12m4l4">
              <form action="{{ url_for('player_bp.delete', id = song.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="submit" value="delete" />
              </form>
            </div>
            <div class="col s12m4l4">
              <form action="{{ url_for('player_bp.publish', id = song.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="submit" value="publish" />
              </form>
            </div>
            <div class="col s12m4l4">
              <form action="{{ url_for('player_bp.unpublish', id = song.id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <input type="submit" value="unpublish" />
              </form>
            </div>
          </div>
          <p>{{ song.name }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}