{% extends "base.html" %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
{% endblock %} {% block content %}
<div class="text-container">
  <div class="cards-list">
    {% for song in songs %}
    <form action="{{ url_for('player_bp.delete', id = song.id) }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="submit" value="delete" />
    </form>
    <form action="{{ url_for('player_bp.publish', id = song.id) }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="submit" value="publish" />
    </form>
    <form action="{{ url_for('player_bp.unpublish', id = song.id) }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="submit" value="unpublish" />
    </form>
    <p>{{ song.name }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}