{% extends 'base.html' %} {% block head %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
{% endblock %} {% block content %}
<div class="text-container">
  <h1><span class="text-underline"> UPLOAD </span></h1>
  <form action="{{ url_for('player_bp.upload') }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="text" name="name" placeholder="name" />
    <p>mp3: </p><input type="file" name="mp3" placeholder="mp3" />
    <p>webm: </p><input type="file" name="webm" placeholder="webm" />
    <input type="submit" value="upload" />
  </form>
</div>
{% endblock %}